<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <title>ToDo List</title>
</head>
<body>

    <div id="app">
        <h1>Cose da fare</h1>

        <ul>
            <!-- Stampo array in pagina tramite ciclo v-for -->
            <li v-for="(element, i) in toDo" :class="{through: element.done}">
                <i @click="addCheck(i)" v-if="element.done" class="fa-regular fa-square-check"></i>
                <i @click="addCheck(i)" v-else class="fa-regular fa-square"></i>
                 {{ element.text }}
                 <!-- Creo un pulsante di delete  -->
                 <button @click="deleteElement(i)"> <i class="fas fa-trash-can"></i> </button>
            </li>
        </ul>

        <input v-model="userInput" type="text">
        <button @click="addElement(i)">Aggiungi nota</button>
        <p v-if="inputError">Devi inserire almeno 2 caratteri</p>
    </div>




    <script src="./js/main.js"></script>
    
</body>
</html>